<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="/style.css" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Login</h1>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <span class="navbar-text">Lab1</span>
</nav>
<div class="container-fluid col-m-6 col-xl-6 col-xs-12" style="padding: 50px">


    <form th:action="@{/login}" th:object="${command}" method="post">
        <div class="form-group">
            <label for="inputName">Email</label>
            <input class="form-control" id="inputName" th:field="*{email}" th:text="${email}" type="email">
            <span class="error small" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
        </div>

        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword1" th:field="*{password}" th:value="${password}">
            <span class="error small" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <div class="alert alert-danger mt-3 p-2" th:if="${#fields.hasAnyErrors()}">
            <ul class="mb-0"  >
                <li th:each="e: ${#fields.allDetailedErrors()}">
                    <span th:text="${e.message}">The error message</span>
                </li>
            </ul>
        </div>

    </form>


</div>

</body>
</html>